@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");

.header_logo {
    font-family: Cinzel Decorative, sans-serif;
    font-weight: 700;
    color: white;
}
